<nav style="margin-top: 1%;">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/">Home</a>
    </li>
    <li class="breadcrumb-item active"> Categorias </li>
  </ol>
</nav>

<div class="row">
  <div class="col-md">
      <h5 class="mbr-section-title display-2 py-2"><span style="font-weight: normal;">Categorias</span></h5>     
  </div>

  <div class="col-md">
    <a routerLink="new" class="btn btn-success btn-circle float-right"><strong class="text-light"> + </strong></a>
  </div>
</div>


<table class="table table-hover mb-4">
  <thead>
    <tr class="bg-primary text-light">
      <th>Categorias</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        <strong>Lazer</strong><br>
        <small>Cinema, parque, praia, etc.</small>
      </td>
      <td>
        <a [routerLink]="[12, 'edit']" class="btn btn-outline-info btn-sm mr-2"> Editar</a>
        <button  class="btn btn-outline-danger btn-sm"> Excluir</button>
      </td>
      
    </tr> <tr>
      <td>
        <strong>Lazer</strong><br>
        <small>Cinema, parque, praia, etc.</small>
      </td>
      <td>
        <a [routerLink]="[12, 'edit']" class="btn btn-outline-info btn-sm mr-2"> Editar</a>
        <button  class="btn btn-outline-danger btn-sm"> Excluir</button>
      </td>
      
    </tr> <tr>
      <td>
        <strong>Lazer</strong><br>
        <small>Cinema, parque, praia, etc.</small>
      </td>
      <td>
        <a [routerLink]="[12, 'edit']" class="btn btn-outline-info btn-sm mr-2"> Editar</a>
        <button  class="btn btn-outline-danger btn-sm"> Excluir</button>
      </td>
      
    </tr> <tr>
      <td>
        <strong>Lazer</strong><br>
        <small>Cinema, parque, praia, etc.</small>
      </td>
      <td>
        <a [routerLink]="[12, 'edit']" class="btn btn-outline-info btn-sm mr-2"> Editar</a>
        <button  class="btn btn-outline-danger btn-sm"> Excluir</button>
      </td>
      
    </tr>
  </tbody>
  
</table>

